@import "variables";

:host {
  display: block;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
li {
  margin: 0 3px 6px;
}

.page-number-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  line-height: 40px;
  padding: 0;
}

.active {
  background-color: mat-color($app-accent, default);
  color: mat-color($app-accent, default-contrast);
}

.next, .prev {
  color: mat-color($app-accent, default);
}

