@import "variables";

:host {
  display: block;
  width: $modal-wide-width;
  max-width: 100%;
}

.avatar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .many-inputs {
    flex: 1 1 auto;
  }

  .input-container:last-of-type {
    margin-bottom: 0;
  }
}

.avatar-input-container {
  flex-shrink: 0;
  width: 170px;
  height: 170px;
  margin-right: 15px;
}

.resend-confirmation-button {
  display: none;
}

.resend-button-visible {
  .confirmed-select-wrapper {
    display: flex;
  }

  select {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .resend-confirmation-button {
    display: block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
