@import "variables";

:host {
  display: block;
  width: $modal-default-width;
  max-width: 100%;
  position: relative;
}

.mat-expansion-panel-header-title {
  text-transform: capitalize;
}

p {
  color: mat-color($app-foreground, secondary-text);
  font-size: 1.3rem;
}