@import "variables";

:host {
  display: block;
  max-width: 80%;
  height: auto;
  margin-bottom: 40px;

  @media only screen and (max-width: $medium) {
    width: 90%;
  }
}

audio {
  display: block;
  max-width: 100%;
  margin: auto;
  @include mat-elevation(3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  // mozilla fix
  max-height: 60px;
}

default-preview {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
