@import "variables";

:host {
  display: block;
  min-width: 250px;
  margin: auto;
  background-color: mat-color($app-background, dialog);
  border-radius: 4px;
  @include mat-elevation(15);
}

header {
  border-bottom: 1px solid mat-color($app-foreground, divider);
  padding: 15px 20px;
  margin-bottom: 20px;
  font-weight: 500;

  .mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.body {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  border-top: 1px solid mat-color($app-foreground, divider);
  text-align: right;
  margin-top: 10px;
  padding: 10px 20px;
}
