@import "variables";

:host {
  display: block;
  text-align: center;
  padding: 25px;
  margin-top: 45px;
}

.icon {
  width: 40px;
  height: 40px;
  color: mat-color($app-foreground, icon);
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  line-height: 24px;
}

.subtitle {
  font-size: 1.6rem;
  margin-bottom: 25px;
  line-height: 23px;
}