@import "variables";

:host {
  display: block;
  flex: 1 1 auto;
  text-align: center;
  width: 100%;
}

ul {
  overflow: hidden;
  font-size: 1.6rem;
  padding-top: 8px;

  &.dense {
    font-size: 1.5rem;

    li {
      padding: 8px 0;
    }
  }
}

li {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 13px 0;
}

.check-icon {
  vertical-align: middle;
  margin-right: 8px;
  color: mat-color($app-accent);
}