@import "variables";

.input-container {
  min-width: 250px;
  position: relative;
  flex-shrink: 0;

  .mat-icon {
    position: absolute;
    top: calc(50% - 12px);
    right: 5px;
    color: mat-color($app-foreground, icon);
  }
}

:host-context(.icon-left) .mat-icon {
  left: 10px;
  right: 0;
}
