@import "variables";

link-preview-password-panel {
  display: flex;
  background-color: mat-color($app-background, card);
  color: mat-color($app-foreground, text);
  border: 1px solid mat-color($app-foreground, divider);
  padding: 25px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 192px;
  max-width: 90%;
  max-height: 90%;
  margin: auto;

  .content {
    flex: 1 1 auto;

    .message {
      margin-bottom: 8px;
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    margin-top: 10px;

    button {
      margin-left: auto;
    }
  }

  .mat-icon {
    width: 140px;
    height: 140px;
    flex: 0 0 140px;
    margin-right: 10px;
    margin-left: -25px;
  }
}
